.blog-post {
  padding: 10vh 0;
}
.card {
  border: none;
  border-bottom: ipx solid $dark;
}
.card-body {
  padding-right: 0;
  padding-left: 0;
}
.my-card-footer {
  border-top: none;
  background: none;
  padding: 0;
}

@media (min-width: 576px){
  .card-deck .card {
    margin-left: 0;
    margin-right: 0;
  }
}

