html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Oxygen', 'Arial', sans-serif;
  //font-family: 'Lato', sans-serif;
}

.header-top {
  background-color: #000000;

}
.top-navbar {
  .form-search {
    position: relative;
    .top-search {
      border-radius: 0;
      background: $black;
      font-family: 'Lato', sans-serif;
      color: #85939f;
      width: 210px;
      height: 28px;
      padding-right: 20px;
      border: 1px solid rgba(133, 147, 159, 0.5);
    }
    .my-btn-s {
      position: absolute;
      right: 17px;
      background: none;
      border: none;
      .fa-search {
        color: #85939f;
      }
    }
  }
  .log-menu {
    .log-item {
      position: relative;
      padding-left: 20px;

      &:first-child {
        margin-right: 15px;
        &::before {
          position: absolute;
          content: "";
          width: 16px;
          height: 15px;
          top: 11px;
          left: 2px;
          background: url("../img/user-icon.png") no-repeat;
        }
      }
      &:last-child {
        margin-right: 15px;
        &::before {
          position: absolute;
          content: "";
          width: 16px;
          height: 16px;
          top: 9px;
          left: 1px;
          background: url("../img/pen-icon.png") no-repeat;
        }
      }
      .log-link {
        color: #85939f;
        font-size: 11px;
        font-weight: 300;
        line-height: 35px;
      }
    }
  }
}
