.last-works {
  padding: 10vh 0;
  background: gray;
  .min-wrap {
    max-width: 740px;
    margin: 0 auto;
  }
  .my-card {
    .card-vertical {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 40px;
      height: 140px;
    }
    .icon-item {
      a {
        display: block;
        width: 40px;
        height: 40px;
        background-color: $green;
        border-radius: 50%;
      }
    }
  }
}
@media (max-width: 767px) {
  .my-card {
    margin-bottom: 10px;
  }
}