.my-btn {
  height: 43px;
  padding: 0 23px;
  font-size: 12px;
  font-weight: 700;
  line-height: 43px;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  cursor: pointer;
}
.full-btn {
  background: $green;
  border: none;
  color: $white;
}
.green-btn {
  background: transparent;
  border: 2px solid $green;
  color: $green;
}
.white-btn {
  background: transparent;
  border: 2px solid $white;
  color: $white;
}
#carouselExampleIndicators > ol > li {
  background: $green;
}
#carouselExampleIndicators > ol > li.active {
  background: $green;
}