.my-button {
  height: 41px;
  padding: 0 23px;
  display: block;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 41px;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  background: transparent;
  border: 1px solid $white;
}
.green-button {
  height: 43px;
  padding: 0 25px;
  display: block;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 43px;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  background: $green;
  border: none;
}